.avatar {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.additional-copyright {
    margin-top: 10px; /* 根据需要调整间距 */
    font-size: 14px; /* 根据需要调整字体大小 */
    color: #888888; /* 根据需要调整字体颜色 */
}

@font-face {
    font-family: 'Opus Chords Sans Std';
    src: url('../fonts/OpusChordsSansStd.otf') format('truetype');
    
    font-family: 'XHei Intel';
    src: url('../fonts/XHei_Intel.ttc') format('truetype');
}

.chord {
    font-family: 'Opus Chords Sans Std', sans-serif;
}