<!-- 以下是已经废弃的使用aplayer的代码 -->
<!-- <style>
    .aplayer {
        position: sticky;
        display: flex;
        top: 50%;
        height: 66px;
        width: 230px;
        z-index: 9999;
        margin: 1px !important;
    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
<aside id="cplayer" style="margin-left: 1px !important;position: sticky;">
    <div class="aplayer"></div>
</aside>

<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<script>
    const ap = new APlayer({
            container: document.querySelector('.aplayer'),
            audio: [{
                name: 'The des Alizes',
                artist: 'artist',
                url: window.location.origin + '/music/The_des_Alizes.mp3',
                cover: window.location.origin + '/music/The_des_Alizes.jpg'
            }],
        });
    ap.style.margin = '5px';
</script> -->


<!-- 使用cplayer组件 -->
<!-- github地址: https://github.com/MoePlayer/cPlayer -->

<!-- 样式部分 -->
<style>
    .cplayer-wrapper {
        position: sticky;
        display: flex;
        z-index: 9000;
        margin-left: 4px;
    }

    .cplayer {
        z-index: 9999;
        line-height: 15px;
    }
</style>

<!-- html元素部分 -->
<aside class="cplayer-wrapper">
    <div class="cplayer"></div>
</aside>


<!-- js部分 -->
<script src="https://cdn.jsdelivr.net/npm/cplayer/dist/cplayer.min.js"></script>
<script type="module">
    import { applyStickyScroll } from '/js/applyStickyScroll.js';
    import { loadPlaylist } from '/js/loadPlaylist.js';
    
    let player = new cplayer({
        element: document.querySelector('.cplayer'),
        playlist: [],
        big: true,
        width: '230px',
        size: '9px',   
    });

    //添加滚动悬浮效果
    document.addEventListener('DOMContentLoaded', function () {
        const cplayer = document.querySelector('.cplayer-wrapper');
        const initialTop = 700;
        const finalTop = 220;

        applyStickyScroll(cplayer, initialTop, finalTop);
    });

    let playlist = await loadPlaylist();
    playlist.forEach((song) => {
            player.add(song);
    });

    
</script>