
<style>
    .aplayer {
        position: sticky;
        display: flex;
        top: 50%;
        height: 66px;
        width: 230px;
        z-index: 9999;
        margin: 1px !important;
    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
<aside id="cplayer" style="margin-left: 1px !important;position: sticky;">
    <div class="aplayer"></div>
</aside>

<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<script>
    const ap = new APlayer({
            container: document.querySelector('.aplayer'),
            audio: [{
                name: 'The des Alizes',
                artist: 'artist',
                url: window.location.origin + '/music/The_des_Alizes.mp3',
                cover: window.location.origin + '/music/The_des_Alizes.jpg'
            }],
        });
    ap.style.margin = '5px';
</script>

<!-- 加载 cplayer 脚本 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/cplayer/dist/cplayer.min.js"></script>
<script>
    let player = new cplayer({
        element: document.getElementById('app'),
        playlist: [
            {
                src: window.location.origin + '/music/The_des_Alizes.mp3',
                poster: window.location.origin +'/music/The_des_Alizes.jpg',
                name: 'The des Alizes',
            },

        ],
        //big: true,
        width: '200px',
        size: {
            height: '200px',
            weight: '200px'
        },
        //style: 'position: sticky; top: 50 %; height: 200px; width: 200px;'    
    });

    // document.addEventListener('DOMContentLoaded', function () {
    //     var cplayer = document.getElementById('app');
    //     var preCompoent = document.getElementById('font-slider');
    //     // var iniTop = 600;
    //     // var finTop = 120;
    //     // var hasScrolled = document.querySelector('.font-slider-wrapper').offsetTop;
    //     var scrollFix = function () {
    //         // var p = window.scrollY || document.documentElement.scrollTop;
    //         // if (p > iniTop - finTop) {
    //         //     elm.style.top = finTop + 'px';
    //         // } else {
    //         //     elm.style.top = iniTop - p + 'px';
    //         // }
    //         cplayer.style.top = preCompoent.style.top + 100; 

    //     }

    //     scrollFix();

    //     window.addEventListener('scroll', scrollFix);
    // });
</script> -->