<!-- 样式部分 -->
<style>
  .font-slider-wrapper {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    margin-left: 28px;
  }

  .font-slider-wrapper .slider {
    display: flex;
    width: 200px;
    margin-bottom: 5px;
    margin-left: 12px;
  }

  .font-slider-wrapper .slider-value {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 1px;
    font-size: 16px;
  }

  .font-slider-wrapper .promptText {
    display: flex;
    justify-content: center;
    margin-left: 2px;
    margin-top: 5px;
  }
</style>

<!-- html元素部分 -->
<aside class="font-slider-wrapper">
  <div class="promptText">设置文字大小</div>
  <div class="slider">
    <input type="range">
    <div class="slider-value"><%= typeof currentValue !== 'undefined' ? currentValue : 16 %></div>
  </div>    
</aside>

<!-- js部分 -->
<script type="module">
  import { applyStickyScroll } from '/js/applyStickyScroll.js';
  const minFontSize = 16; //最小字体大小
  const maxFontSize = 22; //最大字体大小
  const stepValue = 1; //滑动条步长
  const defaultValue = minFontSize; //初始字体大小
  const rangeInput = document.querySelector('.font-slider-wrapper input[type="range"]');

  rangeInput.setAttribute('min', minFontSize);
  rangeInput.setAttribute('max', maxFontSize);
  rangeInput.setAttribute('step', stepValue);
  rangeInput.setAttribute('value', defaultValue);
  rangeInput.onchange = function () {
      changeFontSize(this.value);
  };

  //添加悬浮滚动效果
  document.addEventListener('DOMContentLoaded', function () {
    const fontSliderWrapper = document.querySelector('.font-slider-wrapper');
    const initialTop = 600;
    const finalTop = 120;
    
    applyStickyScroll(fontSliderWrapper, initialTop, finalTop);
  });

  //改变字体大小逻辑
  function changeFontSize(value) {
    const sliderValue = document.querySelector('.slider-value');
    sliderValue.textContent = value;
    const text = document.querySelector('.markdown-body');
    text.style.fontSize = value + 'px';
  }
</script>